/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.mydropdown > li > a{
  font-size: 12px !important;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #000 !important;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #F7941E !important;
}

.nav .nav-link{
  color: gray !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 15px !important;
    font-weight: bold;
}
.dropdown-item.active{
   /*color: #F7941E !important;*/
    color: #fff;
    text-decoration: none;
    background-color: #F7941E !important;
}
.dropdown-menu a{
  font-size: 15px !important;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active{
  color: rgb(247, 148, 30);
}
/*.s-icon i:active{
  color: rgb(247, 148, 30);
}*/
.carousel-indicators i .active {
   color: rgb(247, 148, 30);
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #F7941E !important;
}
/*.work-class{
      margin-left: -381px !important;
          overflow: hidden !important;
}*/
/*.pos-relative{
  position: relative;
}*/
.pos-absolute{
  position: absolute;
  /*top: 10%;*/
  left: 87%;
}
.home-absolute{
  position: absolute;
  /*top: 10%;*/
  left: 90%;
}
.sub-pos{
  position: absolute;
  /*top: 10%;*/
  left: 40%;
}
.homesub-pos{
    position: absolute;
    top: 55%;
    right: 0%;
}

.worksub-pos{
    margin-top: -17px;
}
.menu-pos{
    position: absolute;
    top: 3%;
    right: 0%;
}
.menu-pos1{
    position: absolute;
    top: 30%;
    right: 0%;
}

.work-home{
  position: fixed;
  left: 91%;
}
.dropdown-toggle{
  position: absolute;top: 3%;left: 86%;
}

.dropdown-menu{
  /*position: absolute;*/
  margin-left: -120%;
  top: 70%;
}
/*.dropdown-toggle::after {
    display: none !important;

}
.dropdown-item{
  color: rgba(0,0,0,.5);
}
.navbar-nav .nav-item:hover .dropdown-menu{
  display: block !important;
}*/
.copyright{
  color: gray !important;
}
.copyright .nav-link{
  color: gray !important;
}

.Concepts-area-color{
   color: gray !important;
}

.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.hovereffect {
   width: 404px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
   width: 411px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  /*display: block;*/
  width: 400px;
  max-height: 228px;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
  background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

.profile-img img{
  max-height: 120px;
    max-width: 110px;
}

.address .active{
color: #F7941E !important;
}
.phone .active{
color: #F7941E !important;
}

.email .active{
color: #F7941E !important;
}

.footer-active .active{
color: #F7941E !important;
}


@media only screen and (max-width: 1199px) {
 .paragraph h3{
    font-size: 26px !important;
  }

.work-home{
  position: fixed;
  left: 90%;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 9px !important;
    font-weight: bold;
}
}
@media only screen and (max-width: 991px) {


  .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 9px !important;
    font-weight: bold;
}
 .paragraph h3{
    font-size: 18px !important;
    font-weight: 700;
  }
.pos-absolute{
  margin-left: -23px;
 }
  .mydropdown li{
     margin-right: 10px !important;
  }
  .menu-pos{
      position: inherit;
      top: 0;
      right: 0;
  }

  .dropdown-menu a {
    font-size: 11px !important;
    font-weight: bold;
}
.worksub-pos{
    margin-top: -21px;
    position: absolute;
    right: 0;
}
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 13px !important;
    font-weight: bold;
}

.work-home{
  position: fixed;
  left: 88%;
}
.dropdown-toggle{
  position: absolute;
  top: 3%;
  left: 107%;
}
.dropdown-menu {
    margin-left: 0;
    min-width: 1rem;
}

}

@media only screen and (max-width: 768px) {

  .pos-absolute{
    margin-left: -42px;
  }

  .work-home{
  position: fixed;
  left: 85%;
}
 
}

@media only screen and (max-width: 676px) {

  .work-home{
  position: fixed;
  left: 82%;
  }
 
}




/* ==========================================================================
   Helper classes
   ========================================================================== 

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

